<div class="loading-page">
  <div class="counter">
    <h1>a</h1>
  </div>
</div>
<div id="main-content">
  <div id="sidebar" class="cid-qV1bXGdTKC" layout="nodisplay" side="right">
    <div class="builder-sidebar" id="builder-sidebar">
      <button on="tap:sidebar.close" class="close-sidebar">
        <span></span>
        <span></span>
      </button>

      <div class="navbar-buttons mbr-section-btn">

        <% if current_user.present? %>
          Hey, <%= current_user.email %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% else %>
          <%= link_to "My Account", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>



  <section class="menu1 horizontal-menu menu cid-qV1bXGdTKC" id="menu1-0">
    <nav class="navbar navbar-dropdown  navbar-fixed-top navbar-expand-lg">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-caption-wrap">
            <%= image_tag("orbe-logo.png") %>
          </span>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-buttons mbr-section-btn">
            <% if current_user.present? %>
              <a href="<%= edit_user_registration_path %>" class="profile-link">Hey, <%= current_user.first_name %></a>
              <%= link_to destroy_user_session_path, :method => :delete  do %>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve"><g id="XMLID_2_"><path id="XMLID_4_" d="M51.213,180h173.785c8.284,0,15-6.716,15-15s-6.716-15-15-15H51.213l19.394-19.393c5.858-5.857,5.858-15.355,0-21.213c-5.856-5.858-15.354-5.858-21.213,0L4.397,154.391c-0.348,0.347-0.676,0.71-0.988,1.09c-0.076,0.093-0.141,0.193-0.215,0.288c-0.229,0.291-0.454,0.583-0.66,0.891c-0.06,0.09-0.109,0.185-0.168,0.276c-0.206,0.322-0.408,0.647-0.59,0.986c-0.035,0.067-0.064,0.138-0.099,0.205c-0.189,0.367-0.371,0.739-0.53,1.123c-0.02,0.047-0.034,0.097-0.053,0.145c-0.163,0.404-0.314,0.813-0.442,1.234c-0.017,0.053-0.026,0.108-0.041,0.162c-0.121,0.413-0.232,0.83-0.317,1.257c-0.025,0.127-0.036,0.258-0.059,0.386c-0.062,0.354-0.124,0.708-0.159,1.069C0.025,163.998,0,164.498,0,165s0.025,1.002,0.076,1.498c0.035,0.366,0.099,0.723,0.16,1.08c0.022,0.124,0.033,0.251,0.058,0.374c0.086,0.431,0.196,0.852,0.318,1.269c0.015,0.049,0.024,0.101,0.039,0.15c0.129,0.423,0.28,0.836,0.445,1.244c0.018,0.044,0.031,0.091,0.05,0.135c0.16,0.387,0.343,0.761,0.534,1.13c0.033,0.065,0.061,0.133,0.095,0.198c0.184,0.341,0.387,0.669,0.596,0.994c0.056,0.088,0.104,0.181,0.162,0.267c0.207,0.309,0.434,0.603,0.662,0.895c0.073,0.094,0.138,0.193,0.213,0.285c0.313,0.379,0.641,0.743,0.988,1.09l44.997,44.997C52.322,223.536,56.161,225,60,225s7.678-1.464,10.606-4.394c5.858-5.858,5.858-15.355,0-21.213L51.213,180z"/><path id="XMLID_5_" d="M207.299,42.299c-40.944,0-79.038,20.312-101.903,54.333c-4.62,6.875-2.792,16.195,4.083,20.816c6.876,4.62,16.195,2.794,20.817-4.083c17.281-25.715,46.067-41.067,77.003-41.067C258.414,72.299,300,113.884,300,165s-41.586,92.701-92.701,92.701c-30.845,0-59.584-15.283-76.878-40.881c-4.639-6.865-13.961-8.669-20.827-4.032c-6.864,4.638-8.67,13.962-4.032,20.826c22.881,33.868,60.913,54.087,101.737,54.087C274.956,287.701,330,232.658,330,165S274.956,42.299,207.299,42.299z"/></g></svg>
              <% end %>
            <% else %>
              <a href="<%= new_user_session_path %>"><svg viewBox="-42 0 512 512.002" xmlns="http://www.w3.org/2000/svg"><path d="m210.351562 246.632812c33.882813 0 63.222657-12.152343 87.195313-36.128906 23.972656-23.972656 36.125-53.304687 36.125-87.191406 0-33.875-12.152344-63.210938-36.128906-87.191406-23.976563-23.96875-53.3125-36.121094-87.191407-36.121094-33.886718 0-63.21875 12.152344-87.191406 36.125s-36.128906 53.308594-36.128906 87.1875c0 33.886719 12.15625 63.222656 36.132812 87.195312 23.976563 23.96875 53.3125 36.125 87.1875 36.125zm0 0"/><path d="m426.128906 393.703125c-.691406-9.976563-2.089844-20.859375-4.148437-32.351563-2.078125-11.578124-4.753907-22.523437-7.957031-32.527343-3.308594-10.339844-7.808594-20.550781-13.371094-30.335938-5.773438-10.15625-12.554688-19-20.164063-26.277343-7.957031-7.613282-17.699219-13.734376-28.964843-18.199219-11.226563-4.441407-23.667969-6.691407-36.976563-6.691407-5.226563 0-10.28125 2.144532-20.042969 8.5-6.007812 3.917969-13.035156 8.449219-20.878906 13.460938-6.707031 4.273438-15.792969 8.277344-27.015625 11.902344-10.949219 3.542968-22.066406 5.339844-33.039063 5.339844-10.972656 0-22.085937-1.796876-33.046874-5.339844-11.210938-3.621094-20.296876-7.625-26.996094-11.898438-7.769532-4.964844-14.800782-9.496094-20.898438-13.46875-9.75-6.355468-14.808594-8.5-20.035156-8.5-13.3125 0-25.75 2.253906-36.972656 6.699219-11.257813 4.457031-21.003906 10.578125-28.96875 18.199219-7.605469 7.28125-14.390625 16.121094-20.15625 26.273437-5.558594 9.785157-10.058594 19.992188-13.371094 30.339844-3.199219 10.003906-5.875 20.945313-7.953125 32.523437-2.058594 11.476563-3.457031 22.363282-4.148437 32.363282-.679688 9.796875-1.023438 19.964844-1.023438 30.234375 0 26.726562 8.496094 48.363281 25.25 64.320312 16.546875 15.746094 38.441406 23.734375 65.066406 23.734375h246.53125c26.625 0 48.511719-7.984375 65.0625-23.734375 16.757813-15.945312 25.253906-37.585937 25.253906-64.324219-.003906-10.316406-.351562-20.492187-1.035156-30.242187zm0 0"/></svg></a>
            <% end %>
          </div>
        </div>

      </div>
    </nav>

    <button on="tap:sidebar.toggle" class="ampstart-btn hamburger sticky-but">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>



  </section>

  <section class="features5 mbr-section sec-top-1">



    <div class="container">
      <div class="mbr-row mbr-justify-content-center mbr-black">
        <div class="card mbr-col-sm-12 mbr-col-md-6">
          <figure class="snip1543">
            <%= image_tag("main.jpg") %>
            <figcaption>
              <h3>eyelash extensions for professionals coming soon</h3>
            </figcaption>
          </figure>
        </div>

        <div class="card mbr-col-sm-12 mbr-col-md-6 last-child">
          <div class="card-wrapper">
            <div class="card-box">
              <h3 class="card-title mbr-fonts-style align-center mbr-light display-5">
                Classic lashes
              </h3>
              <h3 class="card-title mbr-fonts-style align-center mbr-light display-5">
                Volume lashes
              </h3>
              <h3 class="card-title mbr-fonts-style align-center mbr-light display-5">
                Readymade fans
              </h3>
            </div>
          </div>
        </div>




      </div>
    </div>
  </section>

  <section class="headers2 sec-1">



    <div class="container">
      <div class="mbr-row mbr-justify-content-center">
        <div class="text-block mbr-black mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-4">
          <div class="text-wrapper">
            <figure class="snip1491">
              <%= image_tag("lashes-1.png") %>
              <figcaption>
                <h2>classic lashes</h2>
                <p>Our classic lashes come in both original and ellipse (flat) profile finishes. Original come in silk and mink finishes, with ellipse in a matt, glossy and supersoft finish. All our classic lashes are offered in both C and D curls, multiple lengths, and .15 to .25 widths.</p>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
        </div>
        <div class="text-block mbr-black mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-4">
          <div class="text-wrapper">
            <figure class="snip1491">
              <%= image_tag("lashes-2.png") %>
              <figcaption>
                <h2>volume lashes</h2>
                <p>Our volume lashes come in both original and ellipse (flat) profile finishes. Original come in volume (.07 to .10) and ultra volume (.03 to .05) thickness, and ellipse in volume  (.07 to .10) thickness. All our volume lashes are offered in both C and D curls and come in single and mixed lengths. </p>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
        </div>
        <div class="text-block mbr-black mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-4">
          <div class="text-wrapper">
            <figure class="snip1491">
              <%= image_tag("lashes-3.png") %>
              <figcaption>
                <h2>readymade fans</h2>
                <p>Our readymade fans are the height of innovation-meets-beauty. Coming in both 3D and 5D assortment, readymade lashes are offered in both C and D curls and come in multiple lengths.</p>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="footer3 sec-footer">



    <div class="container">
      <div class="mbr-row mbr-justify-content-center mbr-black">

        <div class="items-col mbr-col-sm-12 mbr-col-md-4 align-left mbr-col-lg-3 first-row-card">
          <h4 class="mbr-fonts-style group-title display-4"><strong>
            ADDRESS
          </strong></h4>
          <div class="items">
            <p class="item mbr-fonts-style display-7">
              California, USA
            </p></div>
        </div>




        <div class="items-col mbr-col-sm-12 mbr-col-md-12 align-left social mbr-col-lg-6 last-child">
          <h4 class="mbr-fonts-style group-title display-4"><strong>
            Contact
          </strong></h4>
          <div class="icons-list mbr-justify-content-center">
            <div class="mbr-col-sm-12 align-left mbr-col-md-4">

              <span class="amp-iconfont fa-phone-square fa"></span>

              <span class="item mbr-fonts-style display-7">+000 000 0000</span>
            </div>
            <div class="mbr-col-sm-12 align-left mbr-col-md-4">
              <a href="#" target="_blank">
                <span class="amp-iconfont fa-twitter-square fa"></span>
              </a>
              <span class="item mbr-fonts-style display-7"><a href="#" target="_blank" class="text-black">Twitter</a></span>
            </div>
            <div class="mbr-col-sm-12 align-left mbr-col-md-4 last-child">
              <a href="#" target="_blank">
                <span class="amp-iconfont fa-github-square fa"></span>
              </a>
              <span class="item mbr-fonts-style display-7"><a href="#" class="text-black">GitHub</a></span>
            </div>



          </div>
        </div>
      </div>
    </div>
  </section>
</div>